.App {
  text-align: center;
}

/* used y default with NavLink */
/* .active {
  color: lightyellow;
  text-decoration: none;
} */

.courseLink {
  margin: 40px auto;
  width: 50%;
  border: slategrey solid;
}
.courseLink:hover {
  background-color: rgb(49, 63, 106);
}
.link {
  padding: 20px;
  text-decoration: none;
  font-size: 26px;
}

.activeLink {
  color: lightyellow;
  text-decoration: none;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 30px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}

h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
}

a {
  color: lightblue;
  font-size: 24px;
}

nav {
  background-color: rgb(130, 130, 144);
  padding: 6px;
}
nav a {
  margin: 16px;
}
