.App {
  text-align: center;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 30px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}

h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
}
